* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.button-with-gradient {
  background: linear-gradient(to right, #ff6b6b, #ffa07a); /* Substitua as cores de gradiente conforme necessário */
  border: none; /* Remova a borda padrão se necessário */
  color: #fff; /* Cor do texto */
  border-radius: 5px; /* Arredondamento de borda, se aplicável */
  cursor: pointer; /* Altere o cursor para indicar que é clicável */
}

