* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.button-with-gradient {
  background: linear-gradient(to right, #ff6b6bc9, #ffa07ad4); /* Substitua as cores de gradiente conforme necessário */
  border: none; /* Remova a borda padrão se necessário */
  color: #fff; /* Cor do texto */
  border-radius: 5px; /* Arredondamento de borda, se aplicável */
  cursor: pointer; /* Altere o cursor para indicar que é clicável */
}

.ant-table-cell {
  background: #ffa07a89;
}

.ant-table-thead >tr>th {
  background: #ffa07ad4 !important;
}

.ant-pagination .ant-pagination-item-active {
  border-color: #ffa07ad4;
}

.ant-pagination .ant-pagination-item-active a {
  color: #ff6b6bc9;
}

